body {
  font-family: "Raleway";
}
header {
  margin-top: 2rem;
  padding-left: 2rem;
}
nav {
  color: blue;
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
  padding-right: 2rem;
}
nav,
a {
  margin: 0 10px 0 20px;
}
