/* police maquette télécharger*/
html,
body {
  font-family: 'Raleway';
}
/*LOGO*/

header {
  margin-top: 2rem;
  padding-left: 2rem;
}
/*NAVIGATION*/
nav {
  display: flex;
  justify-content: flex-end;

  margin-top: 2rem;
  padding-right: 2rem;
}
nav,
a {
  margin: 0 10px 0 20px;
}
.styldebase {
  text-decoration: none;
}
.colorlien {
  color: blue;
}
.colorlien2 {
  color: black;
}
.bordure {
  border-top: 1px solid blue;
}
/*BORDURE SEARCH*/
.flexcentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bordureSearch {
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid #f2f2f2;
}

.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  color: black;
}

.iconsize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}
.buttonsearch {
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.backgris {
  background-color: #f2f2f2;
}
.backbleu {
  background-color: #0065fc;
}
.bordurenone {
  border: none;
}
.paddingsearch {
  padding-left: 20px;
}
/*FILTRES*/

.margefiltre {
  margin-top: 50px;
  margin-bottom: 30px;
}

.filtre {
  display: flex;
  align-items: center;
}
.filtretexteicons {
  border: 2px solid #f2f2f2;
  height: 50px;
  width: 230px;
  border-radius: 30px;
  margin-right: 20px;
}
.filtreicons {
  border-radius: 25px;
  width: 52px;
  height: 52px;
  color: #0065fc;
  background-color: #deebff;
}
.information {
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  width: 45px;
  height: 45px;
  color: #0065fc;
}

i.flexcentre {
  display: flex;
  justify-content: center;
  align-items: center;
}
.alignfiltre {
  display: flex;
  flex-direction: row;
}
